.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__block {
    width: 250px;
    height: 100%;
  }

  &__contacts {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    li {
      margin: 5px 0px;
      position: relative;

      &::before {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 0px;
        left: 0px;
        height: 0%;
        width: 100%;
        background-color: rgba($secondary-color, 1);
        transition: 0.1s;
      }

      &:hover::before {
        height: 100%;
      }

      a {
        color: $font-color;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-color;
    -webkit-user-select: none;

    h1 {
      font-family: $logo-font;
      font-weight: 100;
      font-size: 3rem;
    }
  }
}
