.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__block {
    width: 250px;
    height: 100%;
  }

  &__contacts {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    li {
      margin: 5px 0px;

      a {
        color: $font-color;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-color;

    h1 {
      font-family: $logo-font;
      font-weight: 100;
      font-size: 3rem;
    }
  }

  &__icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    .header__icon {
      width: 75px;
      height: 75spx;
    }
  }
}
