@mixin flower-btn($hover-color, $visible: false) {
  display: flex;
  @if $visible == false {
    display: none;
  }
  top: 5px;
  right: 5px;
  position: absolute;
  padding: 15px;
  color: $font-color;
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 2;
  justify-content: center;
  align-items: center;

  &:hover {
    color: $hover-color;
  }
}

.flowers {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-auto-rows: max-content;
  justify-content: space-between;
  gap: 40px;

  .flower {
    position: relative;
    width: 300px;
    display: grid;
    border: 2px rgba($main-color, 0.8) dashed;
    // border-radius: 15px;

    &:hover {
      cursor: pointer;
    }

    .flower__add-btn-container {
      @include flower-btn($add-to-cart-color);
    }

    .flower__delete-btn-container {
      @include flower-btn(red, true);
    }

    &:hover .flower__add-btn-container {
      display: flex;
    }

    &:hover .flower__delete-btn-container {
      display: flex;
    }

    .flower__image {
      background-size: cover;
      background-position: center center;
      height: 300px;
      width: 100%;
    }

    .flower__main-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      line-height: 1.5;
      background: white;

      .flower__name {
        font-size: 16px;

        &::first-letter {
          text-transform: uppercase;
        }
      }

      .flower__price {
        color: $main-color;
        font-size: 20px;
      }
    }
  }
}
