.filter {
  width: 200px;
  height: max-content;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: white;

  @media (max-width: 640px) {
    width: auto;
  }

  .filter__item {
    margin-bottom: 10px;
    label {
      text-transform: capitalize;
      margin-left: 5px;
    }

    &:last-child {
      margin-bottom: 0px;
    }

    & * {
      cursor: pointer;
    }
  }
}
