@use '../stylesheets/main';

// * {
//   margin: 0px;
//   padding: 0px;
//   box-sizing: border-box;
//   font-family: monospace;
// }

.main {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: max-content;
  grid-gap: 20px;
  margin: 20px;
  @media (max-width: 640px) {
    grid-template-columns: max-content;
    margin: 10px;
  }
}
