$breakpoints: (
  'small': 640px,
  'medium': 890px,
  'big': 1200px,
  'large': 1525px,
);

// $background-color: rgb(191, 255, 202);
$background-color: #ffffff;
$font-color: rgb(141, 141, 141);
$main-color: rgb(255, 170, 220);
$secondary-color: rgb(184, 255, 196);
