@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body {
  // background-color: rgba($color: #ffa48d, $alpha: 1);
}

.main {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: max-content;
  margin: 20px;
  grid-gap: 20px;
  @media (max-width: 640px) {
    grid-template-columns: max-content;
    margin: 10px;
  }
}
